.arrival-form-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

h2 {
  text-align: center;
  color: #9c0c73;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.col {
  flex: 0 0 48.2%;
  padding: 0 10px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #8d8f94;
}

input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-btn {
  display: inline-block;
  padding: 15px 20px;
  background-color: #9c0c73;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
}

.submit-btn:hover {
  background-color: #c71695;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
}
.required {
  color: rgb(218, 41, 41);
}
